* {
  font-family: 'Nanum Gothic', sans-serif;
  }
  .mytitle {
      color: white;
      width: 300px;
      height: 200px;
      background-image: url('https://www.ancient-origins.net/sites/default/files/field/image/Agesilaus-II-cover.jpg');
      background-position: center;
      background-size: cover;

      border-radius: 10px;
      text-align: center;
      padding-top: 40px;
  }
  .main {
    width: 300px;
    padding-top: 50px;
    margin: auto;
  }
